@import url('../../fonts/fonts.css');

.Typewriter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Typewriter span {
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: var(--font-primary);
}

@media (max-width: 380px) {
    .Typewriter span {
        font-size: 16px;
    }
  
}